<!-- Shop Sidebar Start -->
<div class="col-lg-3 col-md-4">
    @await Component.InvokeAsync("UIProductListPriceFilter")

    @await Component.InvokeAsync("UIProductListColorFilter")

    @await Component.InvokeAsync("UIProductListSizeFilter")

</div>

