<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("PartialViews/_UIHeadPartialView")

<body>
    @await Component.InvokeAsync("UITopBar")

    @await Component.InvokeAsync("UINavbar")

    @RenderBody()

    @await Component.InvokeAsync("UIFooter")

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    @await Html.PartialAsync("PartialViews/_UIScriptsPartialView")

</body>

</html>