@model CreateCategoryDto

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Ekleme</h4>
                <br/>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post" asp-controller="Category" asp-action="CreateCategory" enctype="multipart/form-data">
                        <!-- tag helper olmadan asp-for gibi etiketleri görmüyor onu tag helperı da viewimportsla ekliyoruz -->
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" name="CategoryName" />
                        <label>Kategori Görseli</label>
                        <input name="CategoryImage" type="file" id="file-input" accept="image/png, image/jpeg" required>

                        
                        <button class="btn btn-primary">Kategori Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

,

