@model OrderPhaseViewModel
@{
    ViewData["Title"] = "Siparis";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">

        <!-- ADRESS KISMI -->        
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    @await Component.InvokeAsync("UIOrderAddress")

                    <form method="post" id="new-address-form" style="display: none;">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Adınız</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.Name" placeholder="Adınız">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Soyadınız</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.Surname" placeholder="Soyadınız">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="email" asp-for="createAddressDto.Email" placeholder="mail@email.com">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Telefon</label>
                                <input class="form-control" type="tel" asp-for="createAddressDto.PhoneNumber" placeholder="+90 123 456 78 90">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Adres Satır 1</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.Detail1" placeholder="Mahalle, Cadde">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Adres Satır 2</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.Detail2" placeholder="Apartman, Daire No">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Ülke</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.Country" placeholder="Türkiye">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Şehir</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.City" placeholder="Şehir">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>İlçe</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.District" placeholder="İlçe">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Posta Kodu</label>
                                <input class="form-control" type="text" asp-for="createAddressDto.ZipCode" placeholder="12345">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Adresi Kaydet</button>
                    </form>

                </div>
            </div>
        </div>

        <!-- SİPARİŞ ÖZETİ -->
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş</span></h5>

            <!-- SİPARİŞ EDİLEN ÜRÜNLER -->
            @await Component.InvokeAsync("UIOrderOrderSummary", Model.orderDetailViewModel)

            <form method="get" id="paymentForm" action="/Payment/Index">
                <input type="hidden" id="selectedAddressId" name="addressId">
                <input type="hidden" name="DiscountRate" value="orderDetailViewModel.DiscountRate">
                <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Ödeme Adımına Geç</button>
            </form>
        </div>
    </div>
</div>
<!-- Checkout End -->

<script>
    document.getElementById("paymentForm").addEventListener("submit", function (e) {
    var selectedAddress = document.querySelector('input[name="SelectedAddressId"]:checked');

    if (!selectedAddress) {
        alert("Lütfen bir adres seçin!");
        e.preventDefault(); // Formun gönderilmesini engelle
        return;
    }

    document.getElementById("selectedAddressId").value = selectedAddress.value;
    });
</script>
