@{
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}


<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("UIShoppingCartProducts")

        @await Component.InvokeAsync("UIShoppingCartSummary")
    </div>
</div>