@model UserLoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="~/css/Login/login.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="cover">
      <div class="back">
        <img class="backImg" src="~/images/loginImages/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Bar ve Baristaya dair <br> her şey burada</span>
          <span class="text-2">Hemen kaydol</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            @await Component.InvokeAsync("UILogin")
    </div>
    </div>
  </div>
</body>
</html>



